<a
  href="/"
  aria-label="Article Card"
  class="block group p-5 bg-base-200 rounded-xl hover:bg-primary/5 duration-300"
>
  <p class="font-semibold mb-3 text-primary text-lg font-lora">
    Lorem ipsum dolor sit amet consectetur.
  </p>
  <p class="line-clamp-2">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque non aliquam
    quam nesciunt dolorem optio, fuga fugit laudantium omnis possimus quaerat
    doloribus tempore molestias eveniet nemo cupiditate illum, saepe nisi. Lorem
    ipsum dolor sit amet consectetur adipisicing elit. Placeat vero eos voluptas
    rem fugit non, autem consequuntur dolore, iure natus at nemo illum,
    repellendus aliquid voluptate necessitatibus atque obcaecati cumque?
  </p>
  <p class="mt-5 font-medium">Baca selengkapnya →</p>
</a>
