---
import type { PostListItem } from "@components/sections/ArticleList.astro";
import { Icon } from "astro-icon/components";

interface Props {
  post: PostListItem
}

const { post: { title, description, slug, date } } = Astro.props;
---

<a
  href=`/${slug}`
  aria-label="Article Card"
  class="block group p-5 bg-base-200 rounded-xl hover:bg-primary/5 duration-300"
>
  <p class="font-semibold mb-3 text-primary text-lg sm:text-xl md:text-2xl font-lora">
    {title}
  </p>
  <p class="line-clamp-2">
    {description}
  </p>
  <div class="flex items-center gap-2 mt-3 text-gray-400">
    <Icon name="mdi:calendar" class="size-5" />
    <p aria-label="Date" class="text-sm">{date}</p>
  </div>
</a>
