---
import { cn } from '@helpers';
import type { TagLink } from 'contentful'

interface Props {
    tags: {
      name: string;
      slug: string;
    }[];
    class?: string;
}

const { tags, class: className } = Astro.props;
---

{tags && tags.length > 0 && (
    <div class={cn('flex items-center gap-2', className)}>
      {tags.map(({ name, slug }) => (
        <a href={`/tags/${slug}`} class="badge badge-soft hover:badge-primary">
          #{name}
        </a>
      ))}
    </div>
  )}