---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
import siteConfig from "@site-config";
import mainHero from "@assets/heroes/main-1.webp";
import { Image } from "astro:assets";
---

<Layout>
  <section class="py-10">
    <Container>
      <div class="flex items-center gap-5 flex-col">
        <Image
          class="aspect-square size-38 rounded-full"
          src={mainHero}
          alt="Main Hero"
          loading="eager"
          fetchpriority="high"
        />
        <div class="space-y-1.5 text-center md:text-left">
          <h1 class="text-3xl font-bold">{siteConfig.author}</h1>
          <p class="text-balance text-muted">
            Frontend Developer, UI/UX Designer, Tech Enthusiast.
          </p>
        </div>
      </div>
    </Container>
  </section>
</Layout>
