---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout>
  <section class="min-h-dvh grid place-items-center">
    <Container class="text-center">
      <div class="space-y-3 md:space-y-5">
        <h1 class="text-3xl md:text-5xl font-bold">Under Construction</h1>
        <p class="text-balance">
          This page is under construction, please come back later.
        </p>
      </div>
      <p class="text-gray-400 mt-4">{Astro.site}</p>
    </Container>
  </section>
</Layout>
