---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";
import siteConfig from "@site-config";
import mainHero from "@assets/heroes/main-1.webp";
import { Image } from "astro:assets";
import SocialMediaRow from "@components/SocialMediaRow.astro";
import ScrollDownIcon from "@components/ScrollDownIcon.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
---

<Layout>
  <section
    class="py-5 min-h-dvh grid place-items-center bg-gradient-to-b from-primary/20 relative"
  >
    <Container>
      <div class="max-w-3.5xl mx-auto">
        <div
          class="flex items-center justify-between gap-12 flex-col md:flex-row"
        >
          <div class="text-center md:text-left">
            <div class="space-y-1 mb-5">
              <p
                class="uppercase text-primary tracking-wider font-semibold md:text-lg lg:text-xl"
              >
                Hello, I'm {siteConfig.author}.
              </p>
              <h1
                class="text-3xl font-bold md:text-4xl lg:text-5xl leading-normal font-lora text-balance"
              >
                Developer. Designer. Writer. Enthusiast.
              </h1>
            </div>
            <SocialMediaRow class="justify-center md:justify-start" />
          </div>
          <div class="avatar">
            <div
              class="ring-primary ring-offset-base-100 size-56 md:size-64 lg:size-72 aspect-square rounded-full ring-2 md:ring-4 ring-offset-4"
            >
              <Image
                class="aspect-square size-full rounded-full object-cover"
                src={mainHero}
                alt="Main Hero"
                loading="eager"
                fetchpriority="high"
              />
            </div>
          </div>
        </div>
        <ScrollDownIcon />
      </div>
    </Container>
  </section>
  <BaseLayout class="min-h-dvh">
    <div class="py-10 min-h-96 grid place-items-center">
      <Container>
        <div class="space-y-6">
          <h2
            class="text-2xl md:text-3xl lg:text-4xl font-lora font-semibold text-balance"
          >
            Sangat senang berkenalan dengan-mu!
          </h2>
          <p>
            Hai! Saya Mohamad Adithya dari Indonesia. Saya suka membangun
            antarmuka web yang nggak cuma enak dilihat, tapi juga cepat,
            intuitif, dan nyaman digunakan.
          </p>
          <p>
            Dengan pengalaman lebih dari 5 tahun, saya selalu berusaha menulis
            clean code, memastikan semuanya berjalan mulus dengan pengujian, dan
            mengoptimalkan performa serta SEO agar web lebih ringan dan mudah
            ditemukan. Saya percaya, teknologi yang baik adalah yang terasa
            alami dan membantu tanpa disadari. 🚀
          </p>
        </div>
        <button type="button" class="btn btn-primary mt-8"
          >Kenalan Lebih Lanjut</button
        >
      </Container>
    </div>
  </BaseLayout>
</Layout>
