---
import Header from "@components/Header.astro";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class={className} aria-label="Base Layout">
  <Header />
  <slot />
</div>
