---
import Header from "@components/Header.svelte";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<div class=`${className} overflow-clip` aria-label="Base Layout">
  <Header client:load />
  <div class="py-8 md:py-10">
    <slot />
  </div>
</div>
