---
import { SITE_NAME, SITE_DESCRIPTION } from "astro:env/client";
import { SEO } from "astro-seo";
---

<!doctype html>
<html lang="en">
  <head>
    <SEO
      title={SITE_NAME}
      description={SITE_DESCRIPTION}
      openGraph={{
        basic: {
          title: SITE_NAME,
          type: "website",
          image: "/favicon.svg",
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@MohamadAdithya",
        title: SITE_NAME,
        description: SITE_DESCRIPTION,
        image: "/favicon.svg",
      }}
      extend={{
        link: [
          {
            rel: "alternate",
            type: "application/rss+xml",
            title: `${SITE_NAME} RSS Feed`,
            href: new URL("rss.xml", Astro.site).href,
          },
          {
            rel: "sitemap",
            type: "application/xml",
            title: "Sitemap",
            href: new URL("sitemap-index.xml", Astro.site).href,
          },
        ],
      }}
    />
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
